{% if size %}
s{{ size }}
{% endif %}
{% if num %}
n{{ num }}
{% endif %}
{% if min %}
N{{ min }}
{% endif %}
{% if timeout %}
t{{ timeout }}
{% endif %}
{% if processor %}
!{{ processor }}
{% endif %}
{% if socket %}
u{{ socket }}
{% endif %}
{% if prefix %}
p{{ prefix }}
{% endif %}
{% if appendif %}
{{ appendif }}
{% endif %}
